<div layout="row" layout-align="space-between center">
  <md-input-container flex>
    <label>Thème</label>
    <md-select placeholder="Theme" ng-model="$ctrl.qcmSelect.theme" ng-change="$ctrl.onChange({ selection: $ctrl.qcmSelect })">
      <md-option ng-value="key" ng-repeat="(key, theme) in themes track by $index">{{ theme }}</md-option>
    </md-select>
  </md-input-container>
  <md-input-container flex>
    <label>Niveau</label>
    <md-select placeholder="Niveau" ng-model="$ctrl.qcmSelect.level" ng-change="$ctrl.onChange({ selection: $ctrl.qcmSelect })">
      <md-option ng-value="key" ng-repeat="(key, level) in levels track by $index">{{ level }}</md-option>
    </md-select>
  </md-input-container>
</div>
